<html>

  <head>
    <title>Chitter - peep away!</title>
  </head>

  <body>
    <header>
      <h1>Chitter</h1>
      Sign up
      Sign in
      Peep
    </header>
    <%= yield %>
  </body>

</html>