<html>

  <head>
    <title>Chitter - peep away!</title>
  </head>

  <body>
    <header>
      <h1>Chitter</h1>
      <a href='/users/new'>Sign up</a>
      <a href='/sessions/new'>Sign in</a>
      <% if current_user %>
        <a href='/addpeep'>Peep</a>
      <% end %>
    </header>
    <body>
      <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if current_user %>
        Hi, <%= current_user.first_name %>!
      <form method="post" action="/logout">
        <input type="submit" value="Sign out">
      </form>
      <% end %>
      <%= yield %>
    </body>

</html>
